{"SMTPHostname":"smtp.gmail.com","SMTPPort":"587","SMTPUsername":null,"SMTPPassword":null,"TargetAddress":"idontexist255","StorageType":"Gmail","AWSRegion":"us-west-2","S3BucketName":null,"S3BucketFolder":null,"S3BucketFolderOld":null,"S3ScanFrequency":"5","S3ScanDuration":"40","SenderAddress":null,"SenderDisplayName":"Supply Chain Analysis","SenderSubject":"Domain Supply Chain Analysis","TargetDomains":[null]}